<div id="category-tray">
  <div class="dropdown">
      <button class="dropdown-toggle" type="button" data-toggle="dropdown" style="color: white;">
      Family Guy Funny Moments <span class="caret"></span></button>
      <ul class="dropdown-menu rounded">
        <li><a class="pls" href="#">Server Boost <span class="badge" style="background-color: red;"> New</span></a><img src="assets/icons/amongus.png" alt=""></li>
        <li class="divider"></li>
        <li><a class="pls" href="#">Invite</a><img src="assets/icons/prism.png" alt=""></li>
        <li><a class="pls" href="#">Settings</a><img src="assets/icons/t.png" alt=""></li>
        <li><a class="pls" href="#">Create Channel</a><img src="assets/icons/arrow.png" alt=""></li>
        <li><a class="pls" href="#">Create Category</a><img src="assets/icons/galaxy.png" alt=""></li>
        <li class="divider"></li>
        <li><a class="pls" href="#">Notification Settings</a><img src="assets/icons/python.png" alt=""></li>
        <li><a class="pls" href="#">Privacy Settings</a><img src="assets/icons/skull.png" alt=""></li>
        <li class="divider"></li>
        <li><a class="pls ex" href="#">Leave Server</a><img src="assets/icons/eye.png" alt=""></li>
      </ul>
  </div>
  <div id="channel-container">
    <app-category name="Info"></app-category>
    <app-channel text="Chat"></app-channel>
    <app-channel text="Media"></app-channel>
    <app-channel text="Memes"></app-channel>
    <app-channel text="Art"></app-channel>
    <app-channel text="Insanity"></app-channel>
    <app-channel text="Agony"></app-channel>
    <app-channel text="Anguish"></app-channel>
    <app-channel text="Torment"></app-channel>
    <app-channel text="Affliction"></app-channel>
    <app-channel text="Grief"></app-channel>
    <app-channel text="excruciation"></app-channel>
    <app-channel text="Harrow"></app-channel>
  </div>
</div>