<div id="container">
    <app-user name="romeo" status="dude"></app-user>
    <app-user pic="assets/icons/prism.png" name="Ev" status="ihnsanity"></app-user>
    <app-user pic="assets/icons/skull.png" name="bro" status="how!?!?"></app-user>
    <app-user name="romeo" status="dude"></app-user>
    <app-user pic="assets/icons/prism.png" name="Ev" status="ihnsanity"></app-user>
    <app-user pic="assets/icons/skull.png" name="bro" status="how!?!?"></app-user>
    <app-user name="romeo" status="dude"></app-user>
    <app-user pic="assets/icons/prism.png" name="Ev" status="ihnsanity"></app-user>
    <app-user pic="assets/icons/skull.png" name="bro" status="how!?!?"></app-user>
    <app-user name="romeo" status="dude"></app-user>
    <app-user name="romeo" status="dude"></app-user>
    <app-user name="romeo" status="dude"></app-user>
    <app-user pic="assets/icons/skull.png" name="bro" status="how!?!?"></app-user>
</div>